//Colors body
$color-beige: #ebdec2;
$color-white: #fff;
$color-black: #000;

//Colors buttons and titles
$color-gold-regular: #f8b700;
$color-gold-hover: #ffec71;
$color-gold-hover-opacity: #c76700b3;
$color-red-border-regular: #ff2b00;
$color-red-border-hover: #ff522c;
$color-red-bg-regular: #aa2409cc;
$color-red-bg-hover: #aa2409;

//colors pj
$color-jaina: #69ccf0;
$color-uther: #f58cba;
$color-sylvanas: #abd473;
$color-malfurion: #ff7d0a;
$color-thrall: #0070de;
$color-valeera: #fff569;

//Colors backgrounds
$color-bg: #2b1d1c;

//tamaños de fuentes
$font-size-xxl: 42px;
$font-size-xl: 36px;
$font-size-lg: 24px;
$font-size-md: 16px;
$font-size-sm: 12px;

//espaciados
$spacing-xl: 48px;
$spacing-regular: 24px;
$spacing-light: 20px;
$spacing-sm: 12px;
$spacing-xs: 8px;
